@font-face {
  font-family: "MarkPro";
  font-weight: normal;
  src: url('../fonts/MarkPro.otf');
}
@font-face {
  font-family: "MarkPro";
  font-weight: bold;
  src: url('../fonts/MarkPro-Bold.otf');
}
body {
  font-family: MarkPro;
}
section {
  background-color: white;
}
strong {
  color: #44d;
  font-weight: bold;
}
h2 {
  color: #44d;
}
h3 {
  color: grey;
  font-size: 2.2rem;
}

@media (min-width: 1024px) {
  section, .slide {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
}

.bg-primary h2, .bg-gradient-v h2 {
  color: white;
}
.contain {
  background-size: contain;
}
.button {
  margin-bottom: 15px;
}

/* correction table of content background colors */
.toc {
  background-color: transparent;
}
.chapter, .toc ol>li:before {
  background-color: white;
}
/* baisse taille texte sur card */
.text-intro {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

figure figcaption {
  width: 100%;
  text-align: left;
}
figcaption a {
  background: transparent !important;
  background-image: none;
}
.column > img {
  margin-bottom: 20px;
}
.column ul li {
  list-style: square;
}
.card-50 .flex-content {
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-top-right-radius: 4px; 
  border-bottom-right-radius: 4px;
}

/* correction pour la schedule */
.work li:nth-child(odd)>a {
  background-color: transparent; 
}
.work li a {
  padding-top: 1.2rem; 
  padding-bottom: 1.2rem;
}
.work li a:hover {
    
}
.work-label p, .work li p {
  margin-right: 0;
}
.work-label>p {
  padding-left: 15px !important;
}
p.time {
  width: 15% !important;
}
p.activity {
  width: 55% !important; 
}
p.people {
  width: 15% !important;
}
p.location {
  width: 15% !important; 
}
/* Correction pour mettre des parties de l'agenda moins importantes */
.work .off {
  color: #c1c1c1;
}
.grid-item {
  margin: 5px;
}
/* correction pour le padding au-dessus */
.fullscreen {
    padding: 0;
}

/* Fix pour pas voir le fond gris quand il y a des images de tailles différentes */
.gallery li {
  background-color: white;
}
.gallery li a {
  cursor: pointer;
}

/* Nav */
#logo-s {
  position: fixed;
  left: 50px;
  top: 1px;
}
.burger {
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 5px;
  z-index: 2;
  color: #28285b;
}

/* Fixing cards for presentation intro */
.plans>li:nth-child(2) {
  transform: scale(1); 
}
.plans>li a:hover {
  transform: scale(1); 
}
.plans>li:hover, .plans>li {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.plans>li {
  max-width: 400px;
}
.plans>li h2 {
  font-size: 1.2rem;
}
.plans>li h1 {
  color: #44d;
  font-size: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

/* My print */
@media print {
  @page {
      size: A3 landscape; /* Pour pas que les trucs soient trop petits */
      margin: 0.5cm;
    }
  .burger, .slide-nav {
      display: none; 
    }
  .size-60, .size-50 { /* Donner de la place aux trucs qui sont tous seuls */
      padding-left: 100px;
      padding-right: 100px;
    }
}

